<mat-toolbar color="primary" fxLayout="row column" fxLayoutAlign="space-between center">
  <div fxlayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
        <img src="/assets/Ames_High_School_Logo.png" alt="" class="mylogo">
        <h1>High School Reunion Form</h1>
      </div>
    <button mat-icon-button [disabled]="!shareable" (click)="shareTheJoy()">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<app-formcomp (onNewRSVP)="addToList($event)"></app-formcomp>

<!--{{ title }} -->